# Python stuff
*.egg-info
.ruff_cache
.pytest_cache
.ipynb_checkpoints
__pycache__
*.pyc
.conda
.venv

# Mac stuff
.DS_Store

# wandb
wandb

# bon jailbreak stuff
.cache
.prompt_history
*.logs
logs/
SECRETS
exp
.checkpoints
data/musan
data/RIRS_NOISES
*.gz
*.zip

# fschat
controller.log
model_worker*.log*
openai_api_server.log*

# IDE stuff.
.idea/
.vscode/

exp_intial
human_data